node_modules/
.pnp
.pnp.js


dist/
dist-ssr/
build/
.vite/


.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
desktop.ini


logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


coverage/
*.lcov
.nyc_output/


*.tsbuildinfo


*.zip
.cache/
